<p id="notice"><%= notice %></p>

<p>
  <strong>Background:</strong>
  <%= @home.background %>
</p>

<p>
  <strong>Label color:</strong>
  <%= @home.label_color %>
</p>

<p>
  <strong>Font:</strong>
  <%= @home.font %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
